/* You can add global styles to this file, and also import other style files */
/* Estilos globais */


@import "./variables.scss";

body {
    font-family: $all-font;
    margin: 0;
    padding: 0;
  }
  
